﻿@using FoodComa.Models
@model FoodComa.Models.Error
<div class="row">
    <section class="col-md-6 card">
        @{
            if (Model != null)
            {
                @Html.Partial("~/Views/Shared/StartForm.cshtml", Model.Query)
                ;
            }
            else
            {
                @Html.Partial("~/Views/Shared/StartForm.cshtml")
                ;
            }
        } 
    </section>
</div>

@{
    if (Model != null)
    {
        if (Model.Message != "")
        {
            <script>
                $(document).ready(function () {
                    // TODO: Implement context sensitive colouring for form.
                    //$("#distance-label").addClass("requires-attention");
                });
            </script>
            <div class="row">
                <section class="col-md-6 card">
                    <h1>@Model.Message</h1>
                </section>
            </div>
        }
    }
}