﻿@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    vertical-align: middle;
}

body { background: #500400 }

header {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    transition: transform .5s, opacity .3s;
    background: url(http://www.droid-life.com/wp-content/uploads/2013/01/googlenownewyork.png) center center;
    background-size: cover;
}

input, .card {
    position: relative;
    z-index: 2;
}

input {
    display: block;
    margin: 4.5rem 1rem 2rem;
    border: 0;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: .5s, margin-bottom .15s;
}

.card {
    min-height: 293px !important;
    padding: 2rem;
    box-shadow: 0 1px 2px #aaa;
    background: white;
    border-radius: 2px;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    vertical-align: top;
    margin-top: 1em;
}

.card:nth-child(even) .card-half:nth-child(even){
    animation-name: fly-in-from-right;
    animation-delay: 1.1s;
    transform-origin: top right;
    margin-right: 0;
}

.card-small {
    margin: 0.33em;
}

.card-large {
    margin: 0.33em;
}

.card p {
    text-align: center;
    font-size: medium;
}

.card h1 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    color: #3276b1;
}

.card h2 {
    text-align: center;
    color: #3276b1;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

strong {
    font-weight: 300;
    color: #3276b1;
}

h2 {
    font-size: large;
    margin-bottom: 0;
    line-height: 2.5;
    color: gray;
    font-weight: 400;
}

.map {
    height: 12rem;
    background: whitesmoke;
    margin: .5rem 0 0 -1.5rem;
    width: 28rem;
}


.table-condensed th {
    text-align: right;
    vertical-align: top;
    padding-right: 0.75em;
    font-size: medium;
}

.table-condensed td {
    text-align: left;
    vertical-align: top;
    font-size: medium;
}

.bold {
    font-weight: 600;
}

a {
    text-decoration: none !important;
}