﻿.large-input
{
    width: 250px !important;
}

.wide-button
{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    width: 33%;
    min-width: 150px;
}

.container-sized
{
    text-align: center;
}

ul
{
    list-style-type: none;
    margin-left: 0px;
}

li
{
    margin-left: 0px;
    padding-left: 2px;
    text-align: left;
}

#map
{
    box-shadow: 0px 0px 9px #BCBCBC;
    width:90%; 
    height:250px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.go-right
{
    float: right;
}

.go-left
{
    float: left;
}

.invisible
{
    display: none;
}

.display-inline
{
    display: inline !important;
}

body
{
    min-width: 250px;
    margin: 0 auto;
    padding-bottom: 1em;
}

.align-left
{
    width: auto;
    display: inline-block;
    text-align: left;
}

fieldset 
{
    margin: 0.25em;
    padding: 0.25em;
}

.main-title
{
    color: #cecece;
    font-size: 3em;
    margin: 0 0.25em;
    letter-spacing: 0.25em;
}

.centered {
    margin: 0 auto;
}

.sub-title {
    font-size: 4em;
    color: #dddddd;
    margin: 0.2em;
    line-height: 1em;
}

legend {
    display: none;
}

.input-box {
    margin: 0;
}

.text-center a {
    text-decoration: none;
    color: #C06E6A;
}

.text-center a:hover {
    color: #a52a2a;
}

label {
    font-weight: 300;
    font-size: large;
}

.checkbox-small {
    font-size: medium;
    vertical-align: middle;
    display: inline;
}

.non-existant {
    display: none;
}

.enabled {
    background-color: #428bca;
    color: white;
}

#gps-label {
    padding: 0.4em 0.6em;
}

.input-group-addon {
    padding: 0px;
}

.requires-attention {
    color: #A80000;
}

.carousel-indicators {
    bottom: -25px !important;
}

.carousel-indicators li {
    border: 1px solid #000 !important;
}

.carousel-indicators .active {
    background-color: #3276b1;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    color: #3276b1;
    right: 10%
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    color: #3276b1;
    left: 10%;
}

.table-padded {
    margin-left: 3em;
    vertical-align: bottom;
    position: relative;
}

.paragraph {
    width: 66%;
    margin: 0 auto;
    text-align: justify !important;
}

.carousel {
    min-height: 200px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.ttf');
}