﻿<head>
    <title>FoodComa @ViewBag.Title</title>
    <link href="../../Resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Resources/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../Resources/css/apen.css" rel="stylesheet" type="text/css" />
    <link href="../../Resources/css/slider.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <script src="../../Resources/js/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="../../Resources/js/bootstrap.js" type="text/javascript"></script>
    <script src="../../Resources/js/bootstrap-slider.js" type="text/javascript"></script>
    <!--<script src="../../Resources/js/index-validation.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <link rel="shortcut icon" type="image/ico" href="~/Resources/img/favicon.ico"/>
</head>

<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="main-title"><a href="../">foodcoma</a></h1>
        </div>
    </div>
</div>