﻿@model FoodComa.Models.Query

<script type="text/javascript">
    function initialise() {
        var inputBox = document.getElementById('address');
        var countryRestrict = { 'country': 'uk' };
        var options = {
            types: ['geocode'],
            componentRestrictions: countryRestrict
        };

        autocomplete = new google.maps.places.Autocomplete(inputBox, options);


        $('#distance-slider').slider({
            formater: function(value) {
                return ("within " + value.toFixed(1) + (value > 1 ? " miles" : " mile"));
            }
        });

        $("#distance-slider").on('slide', function (slideEvt) {
            $("#distance-label").text("Distance - within " + slideEvt.value.toFixed(1) + (slideEvt.value == 1 ? " mile" : " miles"));
            $("#distance").val(slideEvt.value);
        });

        $("#distance").val(@(Model != null ? Model.Distance : 1));

        @{
            if (Model != null)
            {
                if (Model.UseGps)
                {
                    @:$("#use-gps").attr("checked", "checked");
                    @:toggleGps();
                }
            }
        }


        $("#distance-label").text("Distance - within " + $("#distance").val() + ($("#distance").val() == "1" ? " mile" : " miles"));

        $('#use-gps').change(function() {
            toggleGps();
        });

    }

    function toggleGps() {
        if ($("#use-gps").is(":checked")) {
            $("#gps-span").addClass("enabled");
            $("#gps-label").html('<img alt="gps-logo" src="/Resources/img/gps-inverted.png" height="18" width="15" style="margin-bottom: 3px;"/>');
            $("#address").attr("disabled", "disabled");
            getLatLng();
        } else {
            $("#gps-span").removeClass("enabled");
            $("#gps-label").html('<img alt="gps-logo" src="/Resources/img/gps.png" height="18" width="15" style="margin-bottom: 3px;"/>');
            $("#address").removeAttr("disabled", "disabled");

            $("#gpsLatitude").val("");
            $("#gpsLongitude").val("");
        }
        $('#use-gps').val($("#use-gps").is(':checked'));
    }

    function getLatLng() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {

                $("#gpsLatitude").val(position.coords.latitude);
                $("#gpsLongitude").val(position.coords.longitude);
            });
        }
    }

    google.maps.event.addDomListener(window, 'load', initialise);

</script>

<style>
    #distance-slider .slider-track { background: #696969; }

    #distance-slider .slider-selection { background: #696969; }

</style>

@using (Html.BeginForm("Index", "Index", FormMethod.Post))
{
    <fieldset>
        <legend></legend>
        
        <label for="address" style="text-align: left;" id="address-label">Postcode or Location</label>
        <div id="address-container" class="input-group">
            <span class="input-group-addon" id="gps-span">
                <label for="use-gps" class="checkbox-small" id="gps-label"><img alt="gps-logo" src="~/Resources/img/gps.png" height="18" width="15" style="margin-bottom: 3px;"/></label>
                <input type="checkbox" id="use-gps" name="useGps" class="checkbox-small non-existant">
            </span>
            <input id="address" name="address" placeholder="Enter a postcode or location" class="form-control input-box" type="text" autocomplete="off" style="margin: 0;" value="@(Model != null ? Model.QueryAddress : "")"/>
            <input id="gpsLatitude" name="latitude" class="non-existant" type="text"/>
            <input id="gpsLongitude" name="longitude" class="non-existant" type="text"/>
        </div>
        <div id="distance-container" class="form-group" style="margin-top: 2em;">
            <label for="distance-slider" style="text-align: left;" id="distance-label">Distance</label>
            <br />
            <input type="text" id="distance" name="distance" value="@(Model != null ? Model.Distance : 1)" style="margin: 0; display: none;"/>
            <input id="distance-slider" name="distance-slider" data-slider-id="distance-slider" type="text" data-slider-min="0.1" data-slider-max="6" data-slider-step="0.1" data-slider-value="@(Model != null ? Model.Distance : 1)" autocomplete="off" style="margin: 0;"/>
        </div>
        <div class="row">
            <button type="submit" id="submit-button" class="btn btn-primary wide-button">Go</button>
        </div>
    </fieldset>
}