﻿@model FoodComa.Models.Venue

<div class="col-md-3">
    <section class="card card-small">
        <h1>Details</h1>
        <table class="table-condensed centered">
            <tr>
                <th>Address</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th></th>
                <td>@Model.PostCode</td>
            </tr>

            @if(Model.Website != null)
            {
                <tr>
                    <th>Website</th>
                    <td>
                        <a href="@Model.Website">Click here</a>
                    </td>
                </tr>
            }
    
            @if(Model.PhoneNumber != null || Model.PhoneNumber != "")
            {
                <tr>
                    <th>Phone</th>
                    <td>@Model.PhoneNumber</td>
                </tr>
            }
        
            @if (Model.Rating != "")
            {
                <tr>
                    <th>Rating</th>
                    <td>@Model.Rating</td>
                </tr>
            }
            
            @if (Model.Price != "Free")
            {
                <tr>
                    <th>Price</th>
                    <td>@Model.Price</td>
                </tr>
            }
        </table>
    </section>
</div>