﻿@model FoodComa.Models.Venue
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<script type="text/javascript">

    var map;

    function initialize() {

        var latitudeLongitude = new google.maps.LatLng(@Model.Geolocation.Latitude, @Model.Geolocation.Longitude);
        var mapOptions = {
            zoom: 16,
            center: latitudeLongitude,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map'),
            mapOptions);

        var marker = new google.maps.Marker({
            position: latitudeLongitude,
            map: map,
            title: 'Where we eat!'
        });
        // TODO: Change the title to include info.
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="@((Model.OpeningTimes == null || Model.OpeningTimes.Count < 1) ? "col-md-3" : "col-md-6")">
    <section class="card card-large">
        <h1>Map</h1>
        <div class="map" id="map"></div>
    </section>
</div>