﻿@model FoodComa.Models.Venue

<div class="col-md-3">
    <section class="card card-small">
        <h1>Opening Times</h1>
        @if (Model.OpeningTimes.First().DinnerHours != null)
        {
            <h2>Lunch</h2>
        }
        <table class="table-condensed centered">
            @foreach (var day in Model.OpeningTimes)
            {
                // All Day / Lunch Hours.
                <tr>
                    <th>@day.Day</th>
                    <td>
                        @day.LunchHours
                    </td>
                </tr>
            }
        </table>
        @if (Model.OpeningTimes.First().DinnerHours != null)
        {
            <h2>Evening</h2>
            <table class="table-condensed centered">
                @foreach (var day in Model.OpeningTimes)
                {
                    // Evening Hours.
                    <tr>
                        <th>@day.Day</th>
                        <td>
                            @{
                                if (string.IsNullOrWhiteSpace(day.DinnerHours))
                                {
                                    @day.LunchHours
                                }
                                else
                                {
                                    @day.DinnerHours
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    </section>    
</div>