﻿@model FoodComa.Models.Venue

<div class="col-md-6">
    <section class="card card-small">
        <h1>Photo</h1>
        <img src="@TempData["photo"]" alt="image" style="width: 100%; height: 100%;"/>
    </section>
</div>