﻿@model FoodComa.Models.Venue
<div class="col-md-6">
    <section class="card card-small">
        <h1>Reviews</h1>
        <div id="review-carousel" class="carousel" data-ride="carousel" data-interval="120000">
            <ol class="carousel-indicators">
                @{
                    var i = 0;
                    foreach (var review in Model.Reviews)
                    {
                        <li data-target="review-carousel" data-slide-to="@i" @(i == 0 ? "class=active" : "")></li>
                        i++;
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    var j = 0;
                    foreach (var review in Model.Reviews)
                    {
                        <div class="item @(j == 0 ? "active" : "")">
                            <p class="paragraph">@review.Text</p>
                            <table class="table-condensed table-padded">
                                <tr>
                                    <th>Rating</th>
                                    <td>@review.Rating</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>@review.Name</td>
                                </tr>
                            </table>
                        </div>
                        j++;
                    }
                }
            
            </div>    
            <a class="left carousel-control" href="#review-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#review-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>
</div>