﻿@model FoodComa.Models.Venue

<div class="col-md-6">
    <section class="card @((Model.OpeningTimes == null || Model.OpeningTimes.Count < 1) ? "card-small" : "card-large")">
        <h1>Respin</h1>
        <p>Alternatively, <strong class="bold">@Model.OtherVenues</strong> venues were found in your area.</p>
        <p>Click the button to spin again!</p>
    
        @Html.Partial("~/Views/Shared/StartForm.cshtml", ViewData["Query"])
    </section>
</div>