﻿@model FoodComa.Models.Venue
<div class="row">
    <div class="col-md-6">
        <h1 class="sub-title">@Model.Name</h1>
    </div>
</div>

<div class="row">
    @RenderPage("~/Views/Venue/Map.cshtml")
</div>

<div class="row">
    @RenderPage("~/Views/Venue/ContactDetails.cshtml")

    @if (@Model.OpeningTimes != null && @Model.OpeningTimes.Count > 0)
    {
        @RenderPage("~/Views/Venue/OpeningTimes.cshtml")
        @:</div>
        @:<div class="row">
    }

    @if (@Model.OtherVenues > 1)
    {
        <div class="clearfix visible-xs"></div>
        @RenderPage("~/Views/Venue/Respin.cshtml")
    }
</div>
