﻿@model FoodComa.Models.Venue
<div class="row">
    <div class="col-md-6">
        <h1 class="sub-title">@Model.Name</h1>
    </div>
</div>
@{
    if (Model.Photo != null)
    {
        <div class="row">
            @RenderPage("~/Views/Venue/Photo.cshtml")
        </div>
    }
}

<div class="row">
    @RenderPage("~/Views/Venue/ContactDetails.cshtml")

    @if (@Model.OpeningTimes != null && @Model.OpeningTimes.Count > 0)
    {
        @RenderPage("~/Views/Venue/OpeningTimes.cshtml")
    }

    @{
    if (Model.OpeningTimes == null || Model.OpeningTimes.Count < 1)
    {
        
        @RenderPage("~/Views/Venue/Map.cshtml")
        @:</div>
    }
    else
    {
        @:</div> 
        <div class="row">
            @RenderPage("~/Views/Venue/Map.cshtml")
        </div>
    }
}
@if (Model.Reviews.Count > 0)
{  
    <div class="row">
        @RenderPage("~/Views/Venue/Ratings.cshtml")
    </div>
}


<div class="row">
    @RenderPage("~/Views/Venue/Respin.cshtml")
</div>